<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UserInfoMapper">
    
    <resultMap type="UserInfo" id="UserInfoResult">
        <result property="id"    column="id"    />
        <result property="userName"    column="user_name"    />
        <result property="sex"    column="sex"    />
        <result property="age"    column="age"    />
        <result property="birth"    column="birth"    />
        <result property="mobile"    column="mobile"    />
        <result property="identity"    column="identity"    />
        <result property="accontNo"    column="accont_no"    />
        <result property="balance"    column="balance"    />
        <result property="password"    column="password"    />
    </resultMap>

    <sql id="selectUserInfoVo">
        select id, user_name, sex, age, birth, mobile, identity, accont_no, balance, password from user_info
    </sql>

    <select id="selectUserInfoList" parameterType="UserInfo" resultMap="UserInfoResult">
        <include refid="selectUserInfoVo"/>
        <where>  
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="age != null "> and age = #{age}</if>
            <if test="birth != null  and birth != ''"> and birth = #{birth}</if>
            <if test="mobile != null  and mobile != ''"> and mobile = #{mobile}</if>
            <if test="identity != null  and identity != ''"> and identity = #{identity}</if>
            <if test="accontNo != null  and accontNo != ''"> and accont_no = #{accontNo}</if>
            <if test="balance != null "> and balance = #{balance}</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
        </where>
    </select>
    
    <select id="selectUserInfoById" parameterType="Long" resultMap="UserInfoResult">
        <include refid="selectUserInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUserInfo" parameterType="UserInfo" useGeneratedKeys="true" keyProperty="id">
        insert into user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="sex != null">sex,</if>
            <if test="age != null">age,</if>
            <if test="birth != null">birth,</if>
            <if test="mobile != null and mobile != ''">mobile,</if>
            <if test="identity != null and identity != ''">identity,</if>
            <if test="accontNo != null and accontNo != ''">accont_no,</if>
            <if test="balance != null">balance,</if>
            <if test="password != null">password,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="sex != null">#{sex},</if>
            <if test="age != null">#{age},</if>
            <if test="birth != null">#{birth},</if>
            <if test="mobile != null and mobile != ''">#{mobile},</if>
            <if test="identity != null and identity != ''">#{identity},</if>
            <if test="accontNo != null and accontNo != ''">#{accontNo},</if>
            <if test="balance != null">#{balance},</if>
            <if test="password != null">#{password},</if>
         </trim>
    </insert>

    <update id="updateUserInfo" parameterType="UserInfo">
        update user_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="age != null">age = #{age},</if>
            <if test="birth != null">birth = #{birth},</if>
            <if test="mobile != null and mobile != ''">mobile = #{mobile},</if>
            <if test="identity != null and identity != ''">identity = #{identity},</if>
            <if test="accontNo != null and accontNo != ''">accont_no = #{accontNo},</if>
            <if test="balance != null">balance = #{balance},</if>
            <if test="password != null">password = #{password},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserInfoById" parameterType="Long">
        delete from user_info where id = #{id}
    </delete>

    <delete id="deleteUserInfoByIds" parameterType="String">
        delete from user_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>